@font-face{
    font-family:'NanumPen'; 
    src:url('./font/NanumPen.eot');
    src:local(※),url('./font/NanumPen.woff')format('woff');
    src:url('./font/NanumPen.ttf');
    /* src:url('./font/SangSangAnt.woff'); */
    
}

@-webkit-keyframes typing {
    from {
        width: 0
    }
    to {
        width:6.3em
    }
}
@-ms-keyframes typing {
    from {
        width: 0
    }
    to {
        width:6.3em
    }
}
@-webkit-keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}
@-ms-keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: black
    }
}
html,body,h1,h2,li,ul,ol,a,p{
    margin:0;
    padding:0;
}
img{
    vertical-align: top;
}
ul,li,ol{
    list-style:none;
}
a{
    text-decoration:none;
    color:#FFF;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
/* body, html {
background-color: #000;
color: #fff;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
overflow: hidden;
} */
/* .work canvas {
position:absolute;
margin-left : 50%;
left: 340px;
top:430px;
} */
.work{    
    width:100%; 
    height:1200px;      
    background-image:url('images/work.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed; 
    /* position:relative;    */
}     
.work:before{
    content:"";
    width:100%;
    height:1200px;
    background-color:rgba(25,25,25,.5);       
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
}
.gnb{
    height:80px;
    width:100%;
    background-color:#000;
    position:fixed;  
    z-index:10; 
}
.gnb h1{
    color:#FFF;
    text-transform:uppercase;
    padding:17px;
}
.gnb ul{
    float:right;
    position:relative;
    top:-45%;
    right:5%;
}
.gnb li{
    float:left;          
    font-size:15px;
    padding:7px;
    text-transform: uppercase;
}
.gnb a{
    color:#fff;
}
.content{
    position:absolute;
    width:100%;
}
.content ul{
    position:absolute;
    top:-340px;
}
.content li{
    width:33%;   
    float:left;     
}
.com{
    border:2px #CCC solid;
    border-radius:20px;
    width:75%;
    height:280px;
    background-color: #000;
    padding:15px;  
    margin-left:60px;     
}
.port{
    width:100%;
    height:100%;
}
.port img{
    width:100%;
    height:100%;  
}
/* section{
    width:100%;
    height:100%;
} */
.project{
    width:100%;
    height:100%;
    padding-bottom:5%;
    background-color: #000;
}
.project h1{
    color:#FFF;
    padding: 15px;
    text-transform: uppercase;
}
.project li{
    width:40%;              
    padding-top:2%;
    height:305px;                            
}     
.project .first{
    width:70%; 
    position:relative;
    left:35px;      
}
.project .sup{
    color:#FFF;
    font-size:14px;  
    margin-left:50%; 
}
.sup li{ 
    width:100%;         
    height:1%;
    /* margin:0;
    padding:0; */
}
.sup p{
    width:100%;
    text-align:justify;
    margin:0;
    padding:0;
}
/* .btn_holder{
    width:60%;
    padding:40px 0 100px 0;
    text-align:center;
} */
.btn_bg{  
    transition-duration:1s;
    display:inline-block;   
}
.btn_bg ul{
    font-size:0;
    width:42%;
    margin:100px auto;
    /* border:1px #f00 solid */
}
.btn_bg ul li{
    display:inline-block;
    position:relative;
    width:33%;
}
.btn{
    display:inline-block;
    width:222px;
    height:223px;
    background-color:transparent;
    overflow:hidden;
    position:relative;
    z-index:10;  
}
.overlay{
    position:absolute;
    top:5.5px;
    left:6.5px;
    border-radius:100%;
    width:212px;
    height:212px;
    opacity:0;
    background-color:#000;
    box-sizing:border-box;
}
.bg_sprite{
    background-image:url('./images/main.jpg');
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    border-radius:100%;
    opacity:0.6;
    animation-duration:.8s;
    animation-timing-function:step-start;
    animation-iteration-count:infinite;
}
.social_values{
    top:50px;
    height:100%;
    position:relative;
    text-align:center;
    pointer-events:none;
}
.social_values span{
    font-size: 15px;
    color: #dddddd;
    letter-spacing: .15em;
    line-height: 25px;
    text-transform: capitalize;
}
.about{
    background-color: #FFF;
    background-image:url('./images/work.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    position:relative;
    height:525px;
}
.about:before{
    content:"";
    width:100%;
    height:525px;
    background-color:rgba(146, 135, 135, 0.6);      
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    z-index:0;
}
.about h1{
    color:#000;
    text-transform:uppercase;
    padding:15px;
    position:absolute;
    z-index:1;
}
span.upper{
    text-transform: uppercase;
}
.typeMsg{
    position:absolute;
    top:40%;
    left:43%;
    color:#FFF;
    font-size:45px;          
    font-family: 'NanumPen', cursive;
    width: 6.3em;
    white-space: nowrap;
    overflow: hidden;
    border-right: .1em solid black;
    -webkit-animation: typing 7s steps(30, end), blink-caret 1s step-end infinite;
    -ms-animation: typing 7s steps(30, end), blink-caret 1s step-end infinite;
    -webkit-text-size-adjust:none; 
    -ms-text-size-adjust:none; 
}

@keyframes runningSprite {
	0%  {background-position-x: 0; }
    10%  {background-position-x: -222px; }
    20%  {background-position-x: -444px; }
    30%  {background-position-x: -666px; }
    40%  {background-position-x: -888px; }
    50%  {background-position-x: -1110px; }
    60%  {background-position-x: -1332px; }
    70%  {background-position-x: -1554px; }
    80%  {background-position-x: -1776px; }
    90%  {background-position-x: -1998px; }
	100%  {background-position-x: -2220px; }
}